/* html{
  background-color: #000;
  color: white;
} */

@import "compass/css3";

#title{
  position:fixed;
}

.group{
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  filter:url("#old-goo");
}
.group-new{
  left:50%;
  filter:url("#fancy-goo");
}
.rect{
  width:100px;
  height:100px;
  background:black;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-50px;
  margin-left:-50px;
}

@keyframes rect-anim-left{
  0%{
    transform:translateX(-10px);
  }
  100%{
    transform:translateX(-60px);
  }
}
.rect{
  animation:rect-anim-left ease-in-out 2s infinite alternate;
}
@keyframes rect-anim-right{
  0%{
    transform:translateX(10px);
  }
  100%{
    transform:translateX(60px);
  }
}
.rect+.rect{
  height:150px;
  margin-top:-75px;
  animation:rect-anim-right ease-in-out 2s infinite alternate;
}
.label{
  position:absolute;
  top:30px;
  left:0;
  width:50%;
  text-align:center;
}
.label-new{
  left:50%;
}
